
@{
    ViewBag.Title = "SearchUser";
}
@model List<WebProject1.Models.UserPostCommentViewModel>

@using (Html.BeginForm("SearchUser", "Home", FormMethod.Post))
{
    <h2>Search User:</h2>

    @*@Html.DropDownListFor(model => model)*@
}


